.box {
    height: 100px;
    width: 100px;
    margin: 5px;
    padding: 5px;
    border: 2px dotted red;
    background-color: blue;
}
#first_button {
    height: 70px;
    width:70px;
    padding: 10px 15px 10px 15px;
    margin: 100px;
    border: 2px dotted red;
    border-radius: 35px;
}
